@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrainsMono";
  src: local("./fonts/JetBrains_Mono"), url('./fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Archivo";
  src: url("./fonts/Archivo/Archivo-Regular.otf");
}

@font-face {
  font-family: "Chillax";
  src: url('./fonts/Chillax/Chillax-Regular.otf');
}

@font-face {
  font-family: "ChillaxBold";
  src: url('./fonts/Chillax/Chillax-Bold.otf');
}

@font-face {
  font-family: "ChillaxSemiBold";
  src: url('./fonts/Chillax/Chillax-Semibold.otf');
}